.cabeçalho {
    background-color:#40f00b;
    color: #A4CE95;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#3936db;
    }
    
    .cabeçalho-lista{
        color: #2a3327;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }