.cabeçalho {
    background-color:#c14ec5;
    color: #9e14df;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#3936db;
    }
    
    .cabeçalho-lista{
        color: #2a3327;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }